.wd-bg{
    background-color: white;
}

.wd-title{
    margin-top: 12px;
    font-size: 30px;
    font-weight: bold;
    color: black;
}
.wd-handle{
    color: lightgray;
    font-size: 13px;
    margin-top: 16px;
    margin-left: 16px;
    border-bottom: 1px solid lightgray;
}
.wd-grid{
    clear: both;
    border-top: 1px solid lightgray;
    box-sizing:border-box
}
.wd-image{
    margin-top: 12px;
    margin-left: 16px;
}
.wd-image-div{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: left;
    width: 4%;
}
.wd-author-grid{
    float: left;
    width:90%;
    margin-left: 12px;
}
.wd-author {
    color: black;
    font-size: 15px;
}
.wd-author-handle{
    color: lightgray;
    font-size: 15px;
}
.wd-main-content{
    color: black;
    font-size: 15px;
    width: 506px;
}
.wd-img{
    border-radius: 10px;
    width: 525px;
    height: 264px;
    margin-top:12px;
}

.wd-pic-btext{
    
    color: darkgray;
}
.wd-pic-btitle{
    
    color: lightgray;
}
.wd-icon{
    margin-top: 12px;
    margin-bottom: 20px;
}

.wd-text-round{
    
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom:10px;
    padding-top: 10px;
    border-left: 1px solid lightgray;
    border-right:1px solid lightgray;
    border-bottom: 1px solid lightgray;
    box-sizing: content-box;
    width: 34%;
    height:fit-content  ;
    border-radius: 10px;
}
